<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Semantic UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- External CSS sheet -->
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Don't Overthink It</title>
</head>

<body id="body-index">
    <div class="container-outer">
        <div class="container-div">
            <div class="text-div">
                <div class="title">
                    <h1>Don't-Overthink-It Writing App</h1>
                </div>
                <div class="subtitle">
                    <h4>
                        <p>Stop thinking about every detail of your story before you have even written the first sentence.</p>
                        <p>Stop wasting time deciding which of the ten synonyms to use.</p>
                        <p>Stop overthinking, start writing.</p>
                    </h4>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="description description-text">
                                <p>Go ahead and write down what's on your mind. But don't overthink it. Once you stop typing, you have to start over.</p>
                            </div>
                            <form method="post" action="{{ url_for('write') }}">
                                <div class="time-selector description-text">
                                    <div class="ui scrolling dropdown scrolling-dropdown-text">
                                        Text will disappear after
                                        <input type='hidden' id='div-seconds-value' name="seconds-selector">
                                        <div id='div-seconds' class="text">5</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {% for number in range(5, 31) %}
                                                <div class="item">{{ number }}</div>
                                            {% endfor %}
                                        </div>
                                        seconds of inactivity.
                                    </div>
                                </div>
                                <button role="button" type="submit" class="btn btn-primary btn-lg btn-index">Start writing!</button>
                            </form>
                        </div>
                       <div class="col-lg-6">
                           <img src="static/img/index_img.png" class="index-img">
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
          <p>Design and Copyright &copy; <script>document.write(new Date().getFullYear())</script> by <a href="https://www.vojtech.work/" target="_blank">vojtech</a></p>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Semantic UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
        $('.dropdown').dropdown();
        $(window).load(function(){
        var a = $('#div-seconds').text();
        $('#div-seconds-value').val(a);
        });
    </script>
</body>
</html>
